@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch&family=Maitree:wght@300;400&family=Signika+Negative:wght@300;400&family=Ubuntu:ital,wght@1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Chakra Petch', sans-serif;
}

section {
  min-height: 100vh;
}

#section2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#content-text {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: start;
  color: black;
}

#content-text-link a, #subMessage a {
  display: inline-block;
  margin-top: 8px;
  color: inherit;
  text-decoration: none;
}

#about-scroll  {
  text-decoration: none;
  padding: 6px 0;
}

.typing-div {
  display: flex;
  overflow: hidden;
}

.box {
  flex: 1;
  min-width: 400px;
}

.box img {
  min-width: 100%;
  display: block;
}


.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  position: relative;
  font-size: 40px;
}

.hero h3 {
  font-size: 20px;
}

.hero-content {
  text-align: center;
  overflow: hidden;
}

.scroll-div {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.message h1,
.message h3 {
  opacity: 0;
  transition: opacity 1s;
}

.message h1.fade-in {
  opacity: 1;
  
}

.message h1.fade-out {
  opacity: 0;
}


.message h3.drop-in {
  opacity: 1;
  animation: drop-in 1s ease 200ms backwards;
  animation-iteration-count: 1;
  animation-delay: 2s;
 }

#message1,#message2,#message3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#subMessage {
  margin-top: 5em;
}





header a {
  display: inline-block;
  padding: 8px 0;
  color: #333;
  text-decoration: none;
}

header {
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); 
  display: flex;
  /* flex-direction: column; */
  justify-content: end;
  /* align-items: center; */
}

#footer-logo {
  text-decoration: none;
  color: inherit;
}


.footer-icons {
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.footer-icons i a {
  text-decoration: none;
  transition: transform 3s ease-in;

}

.footer-icons a:hover {
  transform: scale(1.2); 
  cursor: pointer;
}



.navbar {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.navbar ul {
  list-style: none;
  position: relative;
  display: flex;
}

.navbar ul li {
  position: relative;
  margin: 0 25px;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
}

.navbar ul li a:after {

  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;   
}

.navbar ul li a:hover:after {
  transform: scaleX(1);
transform-origin: bottom left;
}

.content {
  padding: 50px;
}

#content-text h1 {
  font-family: 'Chakra Petch', sans-serif;
    font-size: 42px;
  font-weight: bolder;
  margin-top: 1rem;
}


#content-text h3 {
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  text-align: start;
  font-size: 30px;
  text-decoration: none;
  display: inline-block;
}

.link-section {
  width: 100%;
  display: flex;
  justify-content: right;
  padding-right: 40px;
  font-family: 'Chakra Petch', sans-serif;
  overflow: hidden;
}


.link-section a  {
  text-decoration: none;
}


.link-section a:hover {
  transition: transform 500ms ease-in-out;
  transform: translate(0, 0.075em);
}


                                              /* ABOUT SECTION */

.content-asset p {
  margin:0 auto;
}


.margin-top-10 {padding-top:10px;}
.margin-bot-10 {padding-bottom:10px;}

#about-hero, #about-hero a {
  color: black; 
  animation: color-transform 1.5s forwards; 
  animation-delay: 2s;
}


#container h1 {
  font-size:24px; 
  font-weight:400;
  text-transform: uppercase;
  padding:0; 
  margin:0;
}

#beginning a, #middle a, #future a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

#beginning a:hover,
#middle a:hover,
#future a:hover{
  transition: transform 500ms ease-in-out;
  transform: translate(0, 0.075em);
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#container h2 {
  font-size:70px;
  letter-spacing:10px;
  text-align:center;
  color:white;
  font-weight:400;
  text-transform:uppercase;
  z-index:10;
  opacity:.9;
}

#container h3 {
  font-size:14px;
  line-height:0;
  font-weight:400;
  letter-spacing:8px;
  text-transform: uppercase;
}

#container h3.drop-in {
  opacity: 1;
  animation: drop-in 1s ease 200ms backwards;
  animation-iteration-count: 1;
  animation-delay: 5s;
 }

#container p {
  font-weight:400;
  font-size:14px;
  line-height:24px;
}

#about-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  animation-delay: 2s;
}




#container .title {
  padding: 60px;
  margin:0 auto;
  text-align:center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container .title h1 {
  font-size:40px;
  letter-spacing:8px;
}

#container .title h3 {
    margin-bottom: 1em;
}

#about-hero a {
  color: white;
  animation: drop-in 1s ease 200ms backwards;
  animation-iteration-count: 1;
  animation-delay: 3s;
}

 .block {
  background: white;
  padding:80px 60px;
  width:820px;
  margin:0 auto;
  text-align:justify;
  
}

#container .section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.70;
  
}

.bg-white {
  background-color: #fff;
}

.external-links {
  text-decoration: none;
  color: inherit;
  font-style: italic;
  transition: text-shadow 0.3s ease;
}

.external-links:hover{
  color: #333;
  font-style: oblique;
  text-shadow: 2px 3px 3px rgba(0,0,0,0.3);

}

.tooltip {
  position: relative;
  cursor: help;
}

.tooltip .tooltip-text {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 130%; 
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}




#beginning {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1504610926078-a1611febcad3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

#middle {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1607705703571-c5a8695f18f6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Njh8fGJsYWNrJTIwdGVjaHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#future {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/955402/pexels-photo-955402.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#container .line-break {
  border-bottom:1px solid black;
  width: 150px;
  margin:0 auto;
}

                                     /* Animations and Animation classes */
 
 
@keyframes drop-in {
  from {
   opacity: 0;
   transform: translateY(-30px);
  }
  to {
   opacity: 1;
   transform: translate(0px);
  }
 }

 .pull-up {
  animation: pull-up 1s ease 200ms forwards;
 }


 @keyframes pull-up {
  from {
   opacity: 0;
   transform: translateY(30px);
  }
  to {
   opacity: 1;
   transform: translate(0px);
  }
 }


.floating { 
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 0px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 5px); }
  100%   { transform: translate(0, -0px); }   
}


@keyframes color-transform {
  0% {
    color: black; 
  }
  100% {
    color: white; 
  }
}


.add-fade-in {

  opacity: 0; 
  animation: fadeIn 3s forwards; 
}

@keyframes fadeIn {

  from {

    opacity: 0; 
  }
  to {

    opacity: 1; 
  }
} 


.fade-in-right {

  opacity: 0; 
  animation: fadeInRight 2s forwards; 
}

@keyframes fadeInRight {
  0% {
     opacity: 0;
     transform: translateX(70px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}


.fade-left {
	opacity: 1;
  animation: fadeLeft 1500ms ease-in;
 
}


@keyframes fadeLeft {

  from {

    opacity: 0; 
    transform: translate3d(-50px, 0, 0);
  }
  to {

    opacity: 1;
    transform: translate3d(0, 0, 0); 
  }
} 

.hide {
  opacity: 0;
}


.typewriter  {
  overflow: hidden; 
  border-right: .05rem solid black; 
  white-space: nowrap; 
  animation: 
    typing 1.5s steps(30, end),
    blink-caret 1s step-end infinite;
    padding-right: .5em;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  52% { border-color: black }
}

.add-drop-in {
  animation: drop-in 1.5s ease 200ms backwards;
  animation-iteration-count: 1;
}


/* Media Queries */

@media screen and (max-width: 959px) and (min-width: 768px) {
  #container .block {padding: 40px; width:620px;}
}
@media screen and (max-width: 767px) {
  #container .block {padding: 30px; width:420px;}
  #container h2 {font-size:30px;}
  #container .block {padding: 30px;}
  #beginning, #middle, #future {padding-top:100px; padding-bottom:100px;}
  #section2 { flex-direction: column;}
}
@media screen and (max-width: 479px) {
  #container .block {padding: 30px 15px; width:290px;}
}



/* GAME PAGE */

   
    .video-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 500px;
      width: 80%;
      margin: 0 auto; 
      position: relative;
      overflow: hidden;
    }

    .video-container video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .game-info {
      background-color: #f2f2f2;
      padding: 40px;
      width: 80%;
      margin: 2rem auto;
      
    }

    .game-info h3 {
      margin: 2rem 0;
      line-height: 2em;
    }

    #game-title {
      margin: 3rem 0;
    }